/* styling the sidebar */
.sidebar {
    height: 100%;
    width: 150px;
    z-index: 1; /* Sets it as the foreground */
    position: fixed;
    background-color: #f3f6fc;
    top: 0;
    left: 0;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling the sidebar links */
.sidebar a {
    font-family: Inter;
    font-size: 16px;
    color: black;
    text-decoration: none; /* Removes underline */
    display: block;
    padding-bottom: 50px;
}

/* Highlighting the courses icon in the sidebar */
#courses-icon {
    background-color: #c2e7ff;
    border-radius: 6px;
}

/* styling the "add" button, pushing it to the bottom */
.add-section {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling the main content area */
.main {
    margin-left: 150px;
    text-align: center;
    font-family: Inter;
}

/* styling the header */
.header {
    height: 100px;
    width: 100%;
    background-color: #c2e7ff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    font-weight: lighter;
}

/* styling the content container */
.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* styling the individual cards */
.card {
    margin-bottom: 25px;
    height: 150px;
    width: 300px;
    background-color: #f3f6fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    align-items: center;
    margin-right: 25px;
}

/* styling the "View" button in the card */
.view-button {
    border: none;
    outline: none;
    width: 30%;
    background-color: #004a77;
    color: #c2e7ff;
    font-size: 16px;
    font-family: Inter;
    border-radius: 24px;
    padding: 12px;
    font-weight: bolder;
}

/* styling the name in the card */
.name {
    font-size: 24px;
}

/* styling the "Delete" button in the card */
.delete-button {
    background-color: #c2e7ff;
    font-family: Inter;
    font-weight: bold;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 72px;
    margin-top: 5px;
    margin-bottom: 5px;
}
