body {
    background-color: white;
}

.g-signin2 {
    position: absolute;
    right: 400px;;
    left: 400px;
    top: 100px;
    bottom: 100px;
}

.rectangle {
    position:absolute;
    width: 400px;
    height: 600px;
    background: #04aa6d;;
    top:15%;
    bottom:15%;
    left:15%;
    right:50px;
    border-radius: 3%;
}

img{
    border-radius:8px;
    position:absolute;
    width: 600px;
    height: 400px;
    bottom:0%;
    right:0%;
    left: 50%;
    top: 50%;
    
}