/* Styles for the Sidebar */
.sidebar {
  height: 100%;
  width: 150px;
  z-index: 1; /* Sets it as the foreground */
  position: fixed;
  background-color: #f3f6fc;
  top: 0;
  left: 0;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for Sidebar Links */
.sidebar a {
  font-family: Inter;
  font-size: 16px;
  color: black;
  text-decoration: none; /* Removes underline */
  display: block;
  padding-bottom: 50px;
}

/* Highlighting the Home icon */
#units-icon {
  background-color: #c2e7ff;
  border-radius: 6px;
}

/* Styles for the "Add" Section */
.add-section {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the Main Content */
.main {
  margin-left: 150px;
  text-align: center;
  font-family: Inter;
}

/* Styles for the Header Section */
.header {
  height: 100px;
  width: 100%;
  background-color: #c2e7ff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  font-weight: lighter;
}

/* Styles for the Content Container */
.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
}

/* Styles for Cards in Content */
.card {
  margin-bottom: 25px;
  height: 150px;
  width: 300px;
  background-color: #f3f6fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 24px;
  align-items: center;
  margin-right: 25px;
}

/* Styles for View Button in Cards */
.view-button {
  border: none;
  outline: none;
  width: 30%;
  background-color: #004a77;
  color: #c2e7ff;
  font-size: 16px;
  font-family: Inter;
  border-radius: 24px;
  padding: 12px;
  font-weight: bolder;
}

/* Styles for Name in Cards */
.name {
  font-size: 24px;
}

/* Styles for Delete Button in Cards */
.delete-button {
  background-color: #c2e7ff;
  font-family: Inter;
  font-weight: bold;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 72px;
  margin-top: 5px;
  margin-bottom: 5px;
}
